<h2>Power BI</h2>
<ul>
  <li> Europe: <span class=" {{ dat['powerbi']['europe'] }}" > {{ dat['powerbi']['europe'] }} </span> </li>
  <li> Service: <span class=" {{ dat['powerbi']['service'] }}" > {{ dat['powerbi']['service'] }} </span> </li>
  <li> Awareness: <span class=" {{ dat['powerbi']['awareness'] }}" > {{ dat['powerbi']['awareness'] }} </span> </li>
</ul>
<h2>Azure</h2>
<ul>
  <li> Azure IoT Hub </li>
  <ul>
    <li> West Europe: <span class=" {{ dat['azure']['Azure IoT Hub']['West Europe']}}" > {{ dat['azure']['Azure IoT Hub']['West Europe']}} </span> </li>
    <li> North Europe: <span class=" {{ dat['azure']['Azure IoT Hub']['North Europe']}}" > {{ dat['azure']['Azure IoT Hub']['North Europe']}} </span> </li>
  </ul>
  <li> Azure Stream Analytics </li>
  <ul>
    <li> West Europe: <span class=" {{ dat['azure']['Azure Stream Analytics']['West Europe']}}" > {{ dat['azure']['Azure Stream Analytics']['West Europe']}} </span> </li>
    <li> North Europe: <span class=" {{ dat['azure']['Azure Stream Analytics']['North Europe']}}" > {{ dat['azure']['Azure Stream Analytics']['North Europe']}} </span> </li>
  </ul>
</ul>
