<h2>Power BI</h2>
<ul>
  <li> Europe: {{ dat['powerbi']['europe'] }}</li>
  <li> Service: {{ dat['powerbi']['service'] }}</li>
  <li> Awareness: {{ dat['powerbi']['awareness'] }}</li>
</ul>
<h2>Azure</h2>
<ul>
  <li> Azure IoT Hub </li>
  <ul>
    <li> West Europe: {{ dat['azure']['Azure IoT Hub']['West Europe']}} </li>
    <li> North Europe: {{ dat['azure']['Azure IoT Hub']['North Europe']}} </li>
  </ul>
  <li> Azure Stream Analytics </li>
  <ul>
    <li> West Europe: {{ dat['azure']['Azure Stream Analytics']['West Europe']}} </li>
    <li> North Europe: {{ dat['azure']['Azure Stream Analytics']['North Europe']}} </li>
  </ul>
</ul>
