<h2>Connected to PLC</h2>
<p><span class="{{ dat["connected_to_plc"] }}"> {{ dat["connected_to_plc"] }} </span> </p>

<h2>Measurements can be Read From PLC</h2>
<p><span class="{{ dat["plc_active"] }}"> {{ dat["plc_active"] }} </span> </p>

<h2>Measurements at PLC</h2>

<ul>
  {% for i in dat['measurements_plc'] %}
    <li>{{i}} : <span class="{{ dat['measurements_plc'][i] }}"> {{ dat['measurements_plc'][i] }} </span> </li>
  {% endfor %}
</ul>

<h2>Measurements can be Read From SQL</h2>
<p><span class="{{ dat["sql_active"] }}"> {{ dat["sql_active"] }} </span> </p>

<h2>Measurements at SQL</h2>
<ul>
  {% for i in dat['measurements_sql'] %}
    <li>{{i}} : <span class="{{ dat['measurements_sql'][i] }}"> {{ dat['measurements_sql'][i] }} </span> </li>
  {% endfor %}
</ul>

<h2>Measurements match</h2>
<ul>
  {% for i in dat['measurements_valid'] %}
    <li>{{i}} : <span class="{{ dat['measurements_valid'][i] }}"> {{ dat['measurements_valid'][i] }} </span> </li>
  {% endfor %}
</ul>
